<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.listviewrefresh.demo"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="7" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name="com.listviewrefresh.demo.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.listviewrefresh.demo.delete.DeleteListviewItemActivity"></activity>
        <activity android:name="com.listviewrefresh.demo.horinzontallistview.HorinzontalListviewActivity"></activity>
        <activity android:name="com.listviewrefresh.demo.pinned.PinnedSectionListActivity"></activity>
        <activity android:name="com.listviewrefresh.demo.refresh.RefreshListViewActivity"></activity>
        <activity android:name="com.listviewrefresh.demo.waterdrop.refresh.WaterdropListActivity"></activity>
    </application>

</manifest>